body{
    background-color: #111;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    position: static !important;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.home{
    background-color: rgb(17,17,17,0.75);
}
@media screen and (max-width: 1280px)
.home .poster{
    width: 1280px;
}
.home .poster #bgWarp{
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    justify-content: center;
    align-items: center;
    background: #fcf9fe;
    position: relative;
}
.home .poster video{
    object-fit: cover;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 1280px;
    height: 66px;
    background-color: rgba(17,17,17,0.75);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.35);
}

.header__logo{
    float: left;
    margin-left: 20px;
    width: 317px;
    height: 105px;
}
.header__logo img{
    margin-left: 20px;
}
.header__navwarp{
    display: inline-block;
    position: relative;
    margin-left: -34px;
}
.header__navbar{
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
    margin-left: 40px;
}

.header__navitem{
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    width: auto;
    height: 66px;
    margin: 0 20px !important;
    line-height: 66px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}
.header__navitem__more::after{
    content: '';
    display: block;
    border-top: 5px solid #ccc;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    margin-left: 9px;
}

.header__navitem__sublist{
    position: absolute;
    top: 66px;
    left: -20px;
    background: #272626;
    opacity: 0;
    transition: all 0.2s ease-in;
    border-radius: 1px;
    pointer-events: none;
}
.header__navitem__sublist li{
    width: 214px;
    height: 63px;
}
.header__navitem__sublist li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    text-shadow: none;
}
.header__navitem__sublist--active{
    transform: translateY(0);
    opacity: 0.96;
    pointer-events: auto;
}
.header__navitem__more::after {
    content: '';
    display: block;
    border-top: 5px solid #ccc;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    margin-left: 9px;
}
.header__navitem header__navitem__more{
    
}
.header__navbar .header__navitem{
    font-size: 14px;
    margin: 0 15px !important;
}
.header__navitem--active{
    transform: translateY(0);
    opacity: 0.96;
    pointer-events: auto;
}
.header__navitem:hover, .header__navitem--focus{
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}
